@font-face {
    font-family: 'icomoon';
    src: url('icomoon.eot?x6erih');
    src: url('icomoon.eot?#iefixx6erih') format('embedded-opentype'),
    url('icomoon.ttf?x6erih') format('truetype'),
    url('icomoon.woff?x6erih') format('woff'),
    url('icomoon.svg?x6erih#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icomoon {
    font-family: 'icomoon', sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icomoon-display:before {
    content: "\e602";
}

.icomoon-equalizer:before {
    content: "\e604";
}

.icomoon-power-cord:before {
    content: "\e600";
}

.icomoon-paragraph-justify:before {
    content: "\e609";
}

.icomoon-wordpress:before {
    content: "\e60c";
}
